/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary { display: block; }

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] { display: none; }

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

body { margin: 0; }

a:focus { outline: thin dotted; }

a:hover,
a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b,
strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

p,
pre { margin: 1em 0; }

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q { quotes: none; }

q:before,
q:after {
    content: '';
    content: none;
}

small { font-size: 75%; }

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

dl,
menu,
ol,
ul {
    margin: 1em 0;
    line-height:1.6em;
}

dd { margin: 0 0 0 40px; }

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

svg:not(:root) {
    overflow: hidden;
}

form { margin: 0; }

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

button,
input { line-height: normal; /* 1 */ }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

button[disabled],
input[disabled] { cursor: default; }

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* scaffolding */
body {
  font-size:16px;
  background-color:#faf9f1;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

a {text-decoration:none; color:#4787c9;}
a:hover {text-decoration:underline;}
p {line-height:1.6em; margin:1em 0;}

h1, h2, h3, h4, h5 {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {font-size:60px;}
h2 {font-size:36px;}
h3 {font-size:24px;}
h4 {font-size:20px;}
h5 {font-size:16px;}
h6 {font-size:14px; margin:0.5em 0;}

input {padding:16px 20px;}

/* util */
.f-left{float:left}
.f-right{float:right}
.a-center, .aligncenter{text-align:center}
.a-right{text-align:right}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* grid */
.container {
  width:960px;
  margin:0 auto;
}

.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}

.row {margin-left:-8px; *zoom:1}
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after { clear: both; }

[class*="span"] {
  float: left;
  min-height: 1px;
}
.row [class*="span"] {
  margin-left:8px;
}

/* 8 col grid unit is 113px wide, 4px margins */
/* 3 col grid unit is 300px wide, 15px margins */

.span1 {width:113px;}
.span2 {width:234px;}
.span3 {width:355px;}
.span4 {width:476px;}
.span5 {width:597px;}
.span6 {width:718px;}
.span7 {width:839px;}

.span3rd {width: 300px;}
.spantwo3rd {width:630px;}
/* buttons */
.btn {
  padding:16px 20px; 
  text-shadow:0 1px 1px #fff;
  background: #fff496; /* Old browsers */
  background: -moz-linear-gradient(top,  #fff496 0%, #ffeb42 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff496), color-stop(100%,#ffeb42)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fff496 0%,#ffeb42 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fff496 0%,#ffeb42 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fff496 0%,#ffeb42 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fff496 0%,#ffeb42 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff496', endColorstr='#ffeb42',GradientType=0 ); /* IE6-9 */
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  -moz-box-shadow: inset 0 0 3px #bbb;
  -webkit-box-shadow: inset 0 0 3px #bbb;
  box-shadow: inset 0 0 3px #bbb;
}

.btn:hover {
  text-decoration:none;
  background:#fff496;
}

/* icons */
.icon {display:inline-block; *zoom:1; width:56px; height:48px; background-image:url('/images/icons.png'); background-repeat:no-repeat; vertical-align:middle; margin-right:12px;}

.icon-tools {background-position:-4px -7px;}
.icon-people {background-position:-8px -74px;}
.icon-computer {background-position:-11px -148px;}
.icon-stars {background-position:-11px -226px;}    

.section-header {background:url('/images/dots.png'); margin-bottom:50px; line-height:16px; text-align:center;}
.section-header h1, .section-header h2 {padding:0 15px; margin:0; background:#faf9f1; display:inline-block;}

/* layout */
#site-header {
  padding:30px 0 20px;
}

#branding {
  display:block;
  float:left;
  background:url('/images/hacknjill-logo.png') no-repeat;
  text-indent:-10000px;
  overflow:hidden;
  width:200px;
  height:44px;
}

#header-nav {float:right; font-size:14px;}
.site-links, .social-links{float:left}
.site-links {margin-right:10px;}
.site-links a {padding:0 20px; color:#2e2e2e; line-height:30px;}
.site-links a.active {}
.site-links a:hover {}
.social-links a {
  background-color:#f4f2e0; 
  background-repeat:no-repeat; 
  background-position:center center; 
  display:inline-block; 
  text-indent:-10000px; 
  width:30px; 
  height:30px; 
  margin: 0 5px;   
  -moz-border-radius: 15px; 
  border-radius: 15px; 
}
.social-links .social-twitter {background-image:url('/images/twitter.png');}
.social-links .social-facebook {background-image:url('/images/facebook.png');}
  
  
#site-footer {
  background:url('/images/bg.png');
  margin-top:60px;
  padding:30px 0;
  -moz-box-shadow: inset 0 1px 4px #c5c3b2;
  -webkit-box-shadow: inset 0 1px 4px #c5c3b2;
  box-shadow: inset 0 1px 4px #c5c3b2;
  font-size:14px;
  color:#8d8d8d;
}

#site-footer .social-links a{background-color:#faf9f1;}

/* elements */
.hero {
  border-top:2px solid #fff;
  background-repeat:no-repeat;
  background-size:cover;
}

.hero-title {
  background:rgba(0, 0, 0, 0.7);
  font-size:80px;
  padding:20px 0;
  text-align:center;  
  margin:80px auto 0;
  color:#eee;
}

.hero-title h1, h4 {margin:0;text-shadow:0 0 2px #000;}
.hero-title h4 {color:#999}

.sponsors { width:920px; margin:0 auto; padding-bottom:40px; border-bottom:1px solid #eee} 
.sponsors a {margin:20px; float:left; display:block;}
.judges {margin-bottom:50px;}
.judges p {padding:0 4px;}

#hero {
  height:638px;
  background:#000 url('/images/hero2.jpg') no-repeat center;  
}

#hero-inner{
  height:533px;
  padding-top:105px;
  background-image:url('/images/dots.png');
}

#hero-msg {
  background:rgba(0, 0, 0, 0.7);
  font-size:18px;
  padding:70px 150px;
  width:660px;
  margin:0 auto;
  color:#c6c6c6;
}

#hero-msg p {line-height:2em;}
#hero-msg h2{color:#fff; margin:0 0 20px}
#hero-msg a {color:#8db4dc;}


#previous-events {
  padding-top:80px;
  font-size:30px;
  line-height:48px;
}


/* quotation */

.quotation blockquote {
  position:relative;  
  line-height:1.6em; 
  margin:0; 
}
.archive-quotation {
  width:430px;
  float:left;
  margin-left:30px;
  margin-top:-50px;
}
.archive-quotation blockquote{
  background:url('/images/quote-bg2.jpg') -20px -30px;
  padding:30px;  
  line-height:2em;
  box-shadow:0 1px 3px #5f5247;
  -moz-box-shadow: 0 1px 3px #5f5247;
  -webkit-box-shadow: 0 1px 3px #5f5247;
}

.archive-quotation .qattribution-arrow {
    background:url('/images/quote-arrow2-bg.png') no-repeat; 
    width:66px; 
    height:38px; 
    position:absolute; 
    bottom:-38px;
    left:29px;
}
  
.archive-quotation .qattribution {
  margin:15px 0 0 110px;
}

#quotation {margin:80px 0}
#quotation blockquote {
  color:#c8c8c8; 
  font-size:24px; 
  background:url('/images/quote-bg.jpg') no-repeat center center;
  padding:50px 110px;
  -moz-box-shadow: inset 0 4px 9px #222;
  -webkit-box-shadow: inset 0 4px 9px #222;
  box-shadow: inset 0 4px 9px #222;
}
  
#quotation .qattribution-arrow {
  background:url('/images/quote-arrow-bg.png') no-repeat; 
  width:105px; 
  height:65px; 
  position:absolute; 
  bottom:-65px;
  left:129px;
}

#quotation .qattribution {
  margin:15px 0 0 250px;
}
.qattribution img {
    border:3px solid #fff;
    -moz-box-shadow: 0 0 4px #c5c3b2;
    -webkit-box-shadow: 0 0 4px #c5c3b2;
    box-shadow: 0 0 4px #c5c3b2;
    margin-right:15px; 
    float:left;
}

.qattribution a {line-height:70px;}

#press {text-align:center;margin:100px 0}
#press a {margin:0 40px;}


/* hys */
#hys-hero {
  height: 280px;
  background-image:url('/images/hys-hero.jpg');
}

#hys-title {
  width:600px;
}

#hys .sponsors {padding-top:30px; margin-top:50px;border-top:1px solid #eee;}


/* hacksgiving */
#hys h2, #hacksgiving h2 {text-align:center; color:#745c49; margin:2em 0 1.6em;}

#hacksgiving-hero {
  height: 280px;
  background-image:url('/images/hacksgiving-hero.jpg');
}

#hacksgiving-imgs {
  margin-top:8px;
  overflow:hidden;
  height:113px;
  position:relative;
  margin-bottom:20px;
}

#hacksgiving-imgs img {
  display:block; position:absolute;
}

#hacksgiving-title {
  width:440px;
}

#hacksgiving-collab {
  border:1px dotted #ccc;
  border-width:1px 0;
  padding:36px 50px 20px;
  text-align:center;
  font-size:20px;
  margin:60px auto;
  color:#999;
  width:600px;
}
#hacksgiving-collab span {
  float:left;
  line-height:50px;
}

#hacksgiving-collab div {
  float:right;
  width:400px;
}

#hacksgiving-collab a {
  display:inline-block;
  margin-left:10px;
  margin-bottom:10px;
}

#hacksgiving-turkey {
  text-align:center;
  padding:60px 0 40px;
}

.winners {
  background:#f3f2e7;
  border:1px solid #ebeadc;
  border-width:1px 0;
  box-shadow:inset 0 0 7px #eeecdb;
}


/* about */
.bio { margin-right:16px; margin-bottom:2em;}
.profile-photos {
  float:left; margin-right:10px; 
  box-shadow: 0 1px 3px #999;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
}
#about {padding:20px 0 40px;border-top:2px dotted #dbd599;border-bottom:2px dotted #dbd599;}
#team {margin:100px 0;}