/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary { display: block; }

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] { display: none; }

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

body { margin: 0; }

a:focus { outline: thin dotted; }

a:hover,
a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b,
strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

p,
pre { margin: 1em 0; }

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q { quotes: none; }

q:before,
q:after {
    content: '';
    content: none;
}

small { font-size: 75%; }

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

dl,
menu,
ol,
ul {
    margin: 1em 0;
    line-height:1.6em;
}

dd { margin: 0 0 0 40px; }

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

svg:not(:root) {
    overflow: hidden;
}

form { margin: 0; }

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

button,
input { line-height: normal; /* 1 */ }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

button[disabled],
input[disabled] { cursor: default; }

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* util and grid */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.container {
  width:960px;
  margin:0 auto;
}

.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}


/* scaffolding */
body {
  font-size:16px;
  background-color:#faf9f1;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

a {text-decoration:none; color:#4787c9;}
a:hover {text-decoration:underline;}
p {line-height:1.6em; margin:1em 0;}

h1, h2, h3, h4, h5 {
 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}


.f-left{float:left}
.f-right{float:right}
.a-center{text-align:center}
.a-right{text-align:right}

.row {margin-left:-20px; *zoom:1}
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after { clear: both; }

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.span2 {width:160px}
.span4 {width:300px;}
.span5 {width:380px;}
.span6 {width:460px;}
.span7 {width:540px;}

/* layout */
#site-header {
  padding:30px 0 20px;
}

#branding {
  display:block;
  float:left;
  background:url('/images/logo.png') no-repeat;
  text-indent:-10000px;
  overflow:hidden;
  width:200px;
  height:44px;
}

#header-nav {float:right; font-size:14px;}
.site-links, .social-links{float:left}
.site-links {margin-right:10px;}
.site-links a {padding:0 20px; color:#2e2e2e; line-height:30px;}
.site-links a.active {}
.site-links a:hover {}
.social-links a {
  background-color:#f4f2e0; 
  background-repeat:no-repeat; 
  background-position:center center; 
  display:inline-block; 
  text-indent:-10000px; 
  width:30px; 
  height:30px; 
  margin: 0 5px;   
  -moz-border-radius: 15px; 
  border-radius: 15px; 
}
.social-links .social-twitter {background-image:url('/images/twitter.png');}
.social-links .social-facebook {background-image:url('/images/facebook.png');}
  
  
#site-footer {
  background:url('/images/bg.png');
  margin-top:60px;
  padding:30px 0;
  -moz-box-shadow: inset 0 1px 4px #c5c3b2;
  -webkit-box-shadow: inset 0 1px 4px #c5c3b2;
  box-shadow: inset 0 1px 4px #c5c3b2;
  font-size:14px;
  color:#8d8d8d;
}

#site-footer .social-links a{background-color:#faf9f1;}

/* elements */
#hero {
  height:638px;
  background:#000 url('/images/hero2.jpg') no-repeat center;
  border-top:2px solid #fff;
  background-repeat:no-repeat;
  background-size:cover;
}

#hero-inner{
  height:533px;
  padding-top:105px;
  background-image:url('/images/dots.png');
}

#hero-msg {
  background:rgba(0, 0, 0, 0.7);
  font-size:18px;
  padding:70px 150px;
  width:660px;
  margin:0 auto;
  color:#c6c6c6;
}

#hero-msg p {line-height:2em;}
#hero-msg h1{color:#fff; font-size:36px;margin:0 0 20px}
#hero-msg a {color:#8db4dc;}
#signup {
  margin-top:16px;
  background:rgba(255, 255, 255, 0.2);
  padding:8px;
  float:left;
}

#signup-email {
  width:400px; 
  border:1px solid #000; 
  -moz-box-shadow: inset 0 0 5px #1f1f1f;
  -webkit-box-shadow: inset 0 0 5px #1f1f1f;
  box-shadow: inset 0 0 5px #1f1f1f;
  margin-right:3px;
}

#signup-submit {
  
}


/* quotation */
#quotation {margin:80px 0}
#quotation blockquote {
  margin:0; 
  color:#c8c8c8; 
  font-size:24px; 
  background:url('/images/quote-bg.jpg') no-repeat center center;
  padding:50px 110px;
  -moz-box-shadow: inset 0 4px 9px #222;
  -webkit-box-shadow: inset 0 4px 9px #222;
  box-shadow: inset 0 4px 9px #222;
  line-height:36px;
  position:relative;
}
  
#quotation .qattribution-arrow {
  background:url('/images/quote-arrow-bg.png') no-repeat; 
  width:105px; 
  height:65px; 
  position:absolute; 
  bottom:-65px;
  left:129px;
}

#quotation .qattribution {
  margin:15px 0 0 250px;
}
#quotation .qattribution img {
    border:3px solid #fff;
    -moz-box-shadow: 0 0 4px #c5c3b2;
    -webkit-box-shadow: 0 0 4px #c5c3b2;
    box-shadow: 0 0 4px #c5c3b2;
    margin-right:15px; 
    float:left;
}
#quotation .qattribution a {line-height:70px;}

#press {text-align:center;margin:80px 0}
#press a {margin:0 40px;}

/* about */
.bio { margin-bottom:2em;}
.profile-photos {
  float:left; margin-right:10px; 
  box-shadow: 0 1px 3px #999;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
}
#about {padding:20px 0 40px;border-top:2px dotted #dbd599;border-bottom:2px dotted #dbd599;}
#team {margin:100px 0;}

/* forms */
input {padding:16px 20px;}
button {
  padding:16px 20px; 
  text-shadow:0 1px 1px #fff;
  background: #fff496; /* Old browsers */
  background: -moz-linear-gradient(top,  #fff496 0%, #ffeb42 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff496), color-stop(100%,#ffeb42)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fff496 0%,#ffeb42 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fff496 0%,#ffeb42 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fff496 0%,#ffeb42 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fff496 0%,#ffeb42 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff496', endColorstr='#ffeb42',GradientType=0 ); /* IE6-9 */
  border:1px solid #303030;
  -moz-box-shadow: inset 0 0 3px #1f1f1f;
  -webkit-box-shadow: inset 0 0 3px #1f1f1f;
  box-shadow: inset 0 0 3px #1f1f1f;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}